.rightAlignText{
    text-align: right;
}
.leftAlignText{
    text-align: left !important;
}
.boldText{
    font-weight: bold;
}
.fontSize09{
    font-size: 0.9rem;
}
.pointerOnHover:hover{
    cursor: pointer;
}
.warning{
    color: red;
    display: none;
    font-size: 0.8rem;
}
.fontSize08{
    font-size: 0.8rem;
}
.fontSize07{
    font-size: 0.7rem;
}