html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    min-width: 1200px;  
}
body{
    background-image: url('../img/Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#introduction{
    border-radius: 15px;
    font-size: 1.3rem;
    color: #EDECEA;
    background-color: rgba(20, 20, 20, 0.85);
    
}
#introduction p{
    overflow-y: auto;
    text-align: justify;
    text-justify: inter-word;
}
/* width */
#introduction p::-webkit-scrollbar {
    width: 10px;
}
/* Track */
#introduction p::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 7px;
}
/* Handle */
#introduction p::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}
/* Handle on hover */
#introduction p::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#loginForm{
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.85);
}
#title h1{
    text-align: center;
}
a{
    font-weight: bold;
    text-decoration: none;
}
#phpErrorMessage{
    display: none;
}